<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.yazhe.yazheweb.service.blog.dao.ArticleCommentMapper" >
  <resultMap id="BaseResultMap" type="xyz.yazhe.yazheweb.service.domain.blog.DO.ArticleComment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="to_comment_id" property="toCommentId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
	<resultMap id="ArticleCommentVo" type="xyz.yazhe.yazheweb.service.domain.blog.VO.ArticleCommentVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="article_id" property="articleId"/>
		<result column="content" property="content"/>
		<result column="create_time" property="createTime"/>
		<collection property="createUser" ofType="xyz.yazhe.yazheweb.service.domain.user.auth.VO.UserVO">
			<id column="c_u_id" property="id"/>
			<result column="c_u_username" property="username"/>
		</collection>
	</resultMap>
  <sql id="Base_Column_List" >
    id, article_id, to_comment_id, content, create_user_id, update_user_id, create_time,
    update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_article_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
	<select id="queryCommentByCondition" parameterType="xyz.yazhe.yazheweb.service.domain.blog.RO.ArticleCommentRo" resultMap="ArticleCommentVo">
		select t1.id, t1.article_id, t1.content, t1.create_time, c_u.id c_u_id, c_u.username c_u_username
		from t_article_comment t1
		left join user c_u
		on c_u.id = t1.create_user_id
        <where>
          <if test="articleId != null">
            t1.article_id = #{articleId}
          </if>
          <if test="toCommentId != null">
		     and t1.to_comment_id = #{toCommentId}
          </if>
          <if test="createUserId != null">
              and t1.create_user_id = #{createUserId}
           </if>
        </where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_article_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.yazhe.yazheweb.service.domain.blog.DO.ArticleComment" >
    insert into t_article_comment (id, article_id, to_comment_id,
      content, create_user_id, update_user_id, 
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{toCommentId,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="xyz.yazhe.yazheweb.service.domain.blog.DO.ArticleComment" >
    insert into t_article_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="toCommentId != null" >
        to_comment_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="toCommentId != null" >
        #{toCommentId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.yazhe.yazheweb.service.domain.blog.DO.ArticleComment" >
    update t_article_comment
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="toCommentId != null" >
        to_comment_id = #{toCommentId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.yazhe.yazheweb.service.domain.blog.DO.ArticleComment" >
    update t_article_comment
    set article_id = #{articleId,jdbcType=INTEGER},
        to_comment_id = #{toCommentId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>