<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.yazhe.yazheweb.service.user.auth.dao.PermissionMapper">

    <select id="listPermission" resultType="xyz.yazhe.yazheweb.service.domain.user.auth.DO.Permission">
        SELECT *
        FROM permission
    </select>
</mapper>