<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.yazhe.yazheweb.service.user.auth.dao.WebStatisticsMapper">


	<update id="clicksInc">
		UPDATE web_statistic
		set clicks = clicks + 1
		WHERE id = floor(rand()*10)
	</update>

	<select id="getClicks" resultType="java.math.BigInteger">
		SELECT sum(clicks) FROM web_statistic
	</select>
</mapper>